
body { font-family: Arial, sans-serif; background: #ffeaf3; }
h2 { margin-top: 16px; }
.navbar-brand { font-weight: 700; letter-spacing: 0.3px; }
.card-img-top { object-fit: cover; height: 180px; }
.custom{
  transition: transform 0.3s, background 0.5s;
}
.custom:hover {
  transform: scale(1.05);
}

.navbar {
    position: sticky;      
    top: 0;                
    z-index: 1000;         
}

.bg-row {
  background: #fff9fb; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
